/* for  medium desktop
====================== */

@media (min-width: 768px) and (max-width:1024px){
 #our-features {
    background-position: 503px 204px;
 }
}





/* for tab
====================== */
@media (max-width:767px){

h3 {
    font-size: 18px;

}
/* for menu */
.navbar-brand img{
	width:70%;
 }
 
 #main-menu.navbar-default .navbar-nav > li > a {
	font-size: 11px;
 }
 
 
/* for category-conten */
 .category-content p {
    max-width: 50%;
    margin: 0 auto;
}

/* for resent-pro-slider */
.resent-pro-slider img {
    width: 95%;
    height:200px;
}
/* for our-features */

#our-features {
    background-position: 329px 251px;
}

/* for psd-content */
.psd-content p {
    max-width: 100%;
    line-height: 25px;
    padding: 30px 0px;
	text-align:center;
 }

 
/*  for our team */
.team-image {
    margin-bottom: 100px;
}
.grid figcaption h3 {
    font-size: 30px;
	margin-right: -30px;
 }
 .grid figcaption a {
    font-size: 18px;
    margin-right: 33px;
 }
.grid figcaption span {
    margin: 0px 0px 0px -74px;
 }
/*  for portfolio */
 .portfolio-content {
    margin-bottom: 25px;
}

/* for customer */
.customers-iamges {
    margin-bottom: 25px;
} 
/* for isotope */
.element-item {
  width:33%;
  }
}



/* for tablet
====================== */
@media (max-width:640px){
h3 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
/* for category-content */
.category-content p {
    max-width: 85%;
    margin: 0 auto;
 }
/*  forour-features */
#our-features {
	background-position: 265px 240px;
}
/* for our team */
.team-image {
    margin-bottom: 80px;
 }
/*  for element-item */
 .element-item {
	width:100%;
  }
/*  for isotope  */
 .button-group .button {
    border-radius: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 15px;
}
.grid figcaption h3 {
    font-size: 30px;
    margin-right: -30px;
} 
.grid figcaption a {
    font-size: 21px;
    margin-right: 58px;
}

 .element-item {
	width:50%;
  }
}



/* for mobile
====================== */
@media (max-width:480px){
.category-content p {
    max-width: 100%;
    margin: 0 auto;
 }
/* for  isotope */
 .grid figcaption h3 {
    font-size: 20px;
    margin-right: -30px;
}
.grid figcaption a {
    font-size: 16px;
    margin-right: 30px;
 }
/*  for our content */
 .our-content {
	width:100%;
	margin-bottom:50px;
	float:left;
 }
/*  for out emement-item */
.element-item {
	width:100%;
  }
/*for our team */
.team-image {
    margin-bottom: 5px;
 }
/* for media */
 .media-body p {
    max-width: 100%;
    padding: 15px 0px;
 }
}



/* for  small mobile
====================== */

@media (min-width: 320px) and (max-width:480px){
h1 {
    font-size: 30px;
    color: #ff2a40;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
  }
p {
	font-size: 15px;
 }
/*  for menu */
.navbar-default .navbar-nav>li>a{
	-webkit-background-color:rgba(253,252,252,0.9)!important;
	background-color:rgba(253,252,252,0.9)!important;
	}
.navbar-default .navbar-nav>li>a:hover {
    background-color:#ff2a40!important;
    color:#fff;
  }
/*   for resent slider */
.resent-pro-slider img{
	width:100%;
	height:240px;
  }
/*  for psd-content  */
.psd-content h2 {
    font-size: 25px;
    font-weight: normal;
  }
 .grid figcaption a {
    font-size: 16px;
    margin-right: 10px;
 }
  .award-content {
    margin-bottom: 50px;
 }
/*  for out features */
#our-features {
    background-position:999px 240px;
 }
 .media-body p {
    max-width: 100%;
    padding: 15px 0px;
 }
}

/* ==========end responsive============== */









