
/*=================================
 Template Name : shopnomoy
 Author Name : MD:Saddam Hossain.
 Author URI : http://shopnomoy.net23.net
 Template URI :http://shopnomoy.net23.net/shopnomoy101/index.html
 Version : 1.0
==================================*/


/*====================================
------------------------------------
	1. Typography
	2. Header
	3. Main Slider
	4. About Us
	5. Service
	6. Our Team
	7. Portfolio
	8. Clients
	9. Contact
	10. Footer
	11. Carousel Effect
	12. Isotope
	13. Portfolio Hover effect
-------------------------------------
=====================================*/




/* for Typography
====================== */
img{
	width:100%;
	border:none;
}
h1{
  font-size:35px;
  color:#2ecd71;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
h2{
  font-size:25px;
  color:#202020;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
h3{
  font-size:20px;
  color:#2ecd71;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
h4{
	font-size:16px;
	color:#202020;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
}
p{
   font-weight: 300;
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
   color:#666666;
   line-height:30px;
}
input{
  width:100%;
  height:50px;
}
input:hover{
    border: 1px solid #2ECD71;
    cursor:pointer;
}

#text-area{
	width:100%;
	height:200px;
	margin-top:20px;
}




/* for preloader
====================== */
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	}

#preloader-item,
.preload-img {
	background-image: url(../image/724.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	left: 50%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
		
	}

.preload-img {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%;
}


	
	
/* Navigation
==================== */
#main-menu{
	padding: 15px;
	transition: all 0.8s;
}
#main-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0.5);
}
#main-menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
}

#main-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #202020;
	font-size: 14px;
}
.navbar-brand img{
    width: 165px;
    margin-top: -5px;
}
.on {
	background-color:rgba(253,252,252,0.9)!important;
	padding:20px 0px !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff !important;
	background-color: #2ecd71 !important;
	font-weight: 700;
}

.navbar-toggle {
	border-radius: 0;
	}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #fff;
	}

.navbar-default .navbar-nav>li>a {
    color: #202020;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover{
    background-color: #2ecd71;
    color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #2ecd71;
	border:none;
}
.navbar-default .navbar-toggle {
    border-color: #585050;
}
.panel-default>.panel-heading {
    color: #FFFBFC;
    background-color: #2ecd71;
}



/*for slider
===================*/
.very_big_orange{
	background-color:rgba(0,0,0,0.5);
	font-size:30px;
	color:#fff;
	padding:0px 5px;
}




/*css for ausome fiatured
=================================*/

/*---first row---*/

.category-content{
	padding:50px 0px;
}
.category-content i{
	color: #fff;
	font-size:60px;
	height: 120px;
	width: 120px;
	line-height: 120px;
	border-radius: 50%;
	background-color: #2ecd71;
	margin: 10px;
	transition: all .4s;
}
.category-content i:hover{
	background-color: #00C6FF;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #fff, 0 0 0 12px #00C6FF;
	cursor:pointer;
}

/*---second row---*/
.design-content{
	padding:50px 0px;
}
 .design-photo img{
    margin-top: 60px;
 } 
.design-content h1{
	position:relative;
	font-size:25px;
	font-weight:bold;
}
.design-content h2:before{
	content:"";
	width:100px;
	height:1px;
	background:#2ECD71;
	position:absolute;
	margin-top: 30px;
}
.design-content p{
	padding:40px 0px;
}
.btn-primary {
    color: #fff;
    background-color: #2c3e50;
}





/*---for resent project---
===========================*/
#resent-project{
	background:#fafafa;
	padding:50px 0px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.resent-pro-header h1{
	margin-bottom:15px;
}
.resent-pro-header p{
	margin-bottom:40px;
}
.resent-pro-slider img{
	width:270px;
	height:180px;
}





/*---for awesome feature---
===========================*/
#our-features{
	background:url(../image/banner2.png) no-repeat;
	background-position: 655px 204px;
	padding:80px 0px;
}

.media i{
	border:1px solid #2ecd71;
	padding:10px;
	font-size:35px;
	color:#2ecd71;
}

.media i:hover{
    background: #2ecd71;
    color: #fff;
	transition:0.5s;
}


.media-body h2:hover{
	color:#2ecd71;
	cursor:pointer;
}


.feature-header p{
	max-width:550px;
	margin:0 auto;
	padding:25px 0px 100px 0px;
}
.media-body p{
	max-width:50%;
	padding:15px 0px;
}






/*---for PSD Template---
===========================*/
#psd-template{
	background:-webkit-gradient(linear, left top, right bottom, color-stop(0.2, #fafafa),color-stop(1,#eeeaea));
	background:-moz-linear-gradient(left top, #fafafa 0.2%, #eeeaea 100%);
	padding:50px 0px 0px 0px;
}
.psd-img img{
    width: 300px;
}
.psd-content img{
    width: 110px;
    margin-right: 10px;
}
.psd-content h2{
	font-size:30px;
	font-weight:normal;
}
.psd-content p{
	max-width:600px;
	line-height:25px;
	padding:30px 0px;
	text-align:justify;
}






/*---for more about us
===========================*/
/*---------first row-------*/
#about-us{
	padding:50px 0px;
}

.aboutus-header p{
	max-width:600px;
	margin:0 auto;
	padding:10px 0px 10px 0px;
}
.aboutus-content p{
	text-align:justify;
	margin-top: 35px;
}

.aboutus-content,.aboutus-video{
	padding:50px 0px;
}

/*---------second row-------*/

.skillbar {
	position:relative;
	display:block;
	margin-bottom:18px;
	box-shadow:1px 1px 0 0 #333333;
	-webkit-box-shadow:1px 1px 0 0 #333333;
	width:100%;
	background-color:#333;
	height:35px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:25%;
	font-weight:bold;
	font-size:14px;
	color:#fff;
	background-color:#3498DB;
}

.skillbar-title span {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	display:block;
	background-color: #2ecd71;
	padding:0 20px;
	height:35px;
	line-height:33px;
}


.skillbar-bar {
	height:35px;
	width:0px;
    background-color: #2ecd71;
	box-shadow:0 1px 0 0 #333333;
	-webkit-box-shadow:0 1px 0 0 #333333;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
}

.feature-image img{
	margin-top: 50px;
	margin-bottom:-35px;
}





/*---for our all awards
===========================*/
#all-awards{
	background:url(../image/bg1.jpg)no-repeat;
	background-position:center center;
	background-attachment:fixed;
	padding:100px 0px;
}
.award-content h1,.award-content p{
	color:#fff;
}
.award-content i{
	font-size:50px;
	color:#fff;
}





/*---for our professional team
=================================*/
/*--------first row-------------*/
#pro-team{
	padding:50px 0px;
}

.team-header p{
	max-width:600px;
	margin:0 auto;
	padding-bottom:75px;
}

/*--------second row-------------*/
#work-with-us{
	background:#2ecd71;
	padding:30px 0px;
	margin-top:70px;
}
#work-with-us h2,#work-with-us p{
	color:#fff;
}
.message-us{
	margin-top:30px;
}
.btn-warning {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-warning:hover {
    color: #fff;
    background-color:#215a7b;
	border-radius:5px;
    border:none;
}





/*---for what we do
=======================*/
#what-do{
	padding:50px 0px;
}
.we-do-header p{
	max-width:600px;
	margin:0 auto;
	padding-bottom:50px;
}
.our-content {
	width:33%;
	margin-bottom:50px;
	float:left;
}

.our-content i{
	color: #fff;
	font-size:75px;
	height: 120px;
	width: 120px;
	line-height: 120px;
	border-radius: 50%;
	background-color: #2ecd71;
	margin: 10px;
	transition: all .4s;
}
.our-content i:hover{
	background-color: #00C6FF;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #fff, 0 0 0 12px #00C6FF;
	cursor:pointer;
}
.our-content p{
	max-width: 90%;
	margin:0 auto;
	padding-bottom:20px;
}
.for-border{
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
}
.border-bottom{
	border-bottom:1px solid #dedede;
}






/*---for all Devices
=======================*/
.devices-content h1{
	padding-bottom:30px;
}
.devices-content p{
	font-size:16px;
	line-height:30px;
}
.devices-image img{
    width: 270px;
    height: 450px;
}






/*---for our portfolio
==========================*/

#portfolio{
	background:transparent;
	background-position:center center;
	padding:100px 0px;
}
.portfolio-parallax{
	min-height:400px;
	background:transparent;
}
.portfolio-content{
    background: #2ecd71;
    padding: 25px 0px;
    border-radius: 10px;
}
.portfolio-content i{
	font-size:50px;
	color:#fff;
}
.portfolio-content h4{
	color:#fff;
}





/*css for isotope
====================*/
#isotope-part{
	padding:50px 0px;
}
.isotope-header p,.project-header p{
	max-width:600px;
	margin:0 auto;
	padding-bottom:50px;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background:none;
  border: none;
  color: #202020;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline:none;
}

.button:hover {
  background-color: #2ecd71;
  color: #fff;
}

.button:active,
.button.is-checked {
  background-color: #2ecd71;
}

.button.is-checked {
  color: white;
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 20px;
  margin-left: 0;
  margin-right: 1px;
  margin-bottom:50px;
}



/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  color: #262524;
  width:25%;
}
.element-item img{
	width:100%;
}
.view-more{
	margin-top:30px;
}

.grid figcaption h3 {
    margin: 0px 0px 0px -115px;
    padding: 7px;
    color: #FFF;
}
.bg figcaption {
  background:#2C3F52;
}
.grid figcaption span {
    margin: 0px 0px 0px -115px;
}
/* hover effect */



/* for happy customers
==========================*/
#customers{
	padding:10px 0px 50px 0px;
}
.customers-header p{
	max-width:600px;
	margin:0 auto;
	padding-bottom:50px;
}

.customers-iamges img{
	width:70%;
}
.customers-iamges a:hover{
	border-bottom:1px solid #c6c6c6;
	padding-bottom:15px;
}






/* for happy customers
==========================*/
.success-button{
	margin-top:20px;
}
.btn-success {
    color: #fff;
    background-color: ##2ECD71;
    width: 250px;
    height: 44px;
    font-size: 22px;
    border-radius: 25px;
}
.btn-success:hover {
    background-color: #34495e;
    border-color: #34495e;
	transition:1s;

}






/* for footer area
==========================*/
#footer-area{
	background:url(../image/Capture230.jpg)repeat;
	padding:50px 0px;
	margin-top:130px;
}

.bt-top img{
	width:100px;
	height:100px;
    margin-top: -125px;
}

.footer-content img{
	max-width:240px;
	margin:0 auto;
	padding:20px 0px;
}
.footer-content p{
	color:#b5b5b5;
}
.footer-content a,.copy-right a{
	color:#2ecd71;
}
.social-icon i{
	margin:0px;
}
.social-icon a{
    display:inline-block;
	width:40px;
	height:40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
	text-align:center;
	font-size: 20px;
	margin-left:15px;
	padding-top:5px;
}
.social-icon a:hover{
    font-size: 20px;
    color: #fff;
    background-color:#2ecd71;
	cursor:pointer;
	transition:0.5s;
}
.copy-right p{
	padding:15px;
	color:#b5b5b5;
}
/*=======THE END========*/




